.nav-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 40px;
    &:hover{
        cursor: pointer;
        background:#1B9CFC;
    }
}