$nav: 99;

*{
  margin:0;
  padding:0;
}

body {
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    
    //background:rgb(249, 248, 244);
    background: rgb(124,44,225);
    background: linear-gradient(125deg, rgba(124,44,225,1) 0%, rgba(151,40,178,1) 50%, rgba(129,43,217,1) 100%);
    background-repeat: no-repeat;
    min-height: 100%;

    .content{
      position: relative;
      width: 1200px !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      margin-top: 50px;
      overflow: auto;
      padding-bottom: 200px;
    }
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
// // Header
// @import "./containers/header/Header.scss";
// @import "./header/styles/DropdownBox.scss"; 
// @import "./header/styles/Logo.scss";
// @import "./header/styles/Profile.scss";

// // Home Page
// @import "./components/BannerJoin/BannerJoin.scss";
// @import "./pages/page-home/styles/BannerConnect.scss";


.mobile-nav-menu{
  position: absolute;
  width: 100%;
  height: 100%;
  //margin-top: 50px;
  

  .mobile-nav-menu-toggle{
    position: fixed;
    right: 15px;
    top: 10px;
    width: 30px;
    height: 30px;
    z-index: $nav;
    
    .hamburger {
      border-bottom: 4px solid #fff;
      width: 30px;
      position: absolute;
      transition: 0.4s;
      opacity: 1;
    }

    .linesBtn{
      &:nth-child(1){
        margin-top: 0px;
      }
      &:nth-child(2){
        margin-top: 13px;
      }
      &:nth-child(3){
        margin-top: 26px;
      }
    }
    .xBtn{
      &:nth-child(1){
        margin-left: 0.5em;
        transform: translateY(13px) translateX(-8px) rotate(45deg);
      }
      &:nth-child(2){
        opacity: 0;
        margin-top: 13px;
      }
      &:nth-child(3){
        margin-left: 2.2em;
        transform: translateY(13px) translateX(-35px) rotate(-45deg);
      }
    }
  
    cursor: pointer;
    @media only screen and (min-width:1201px){
        display: none;
    }
  }
  
  .mobile-nav-menu-box{
    position: fixed;
    right:0;
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding-bottom: 50px;
    z-index: 99;
    transition: 0.4s ease;
    background: rgb(151,40,178);
    background: linear-gradient(90deg, rgba(151,40,178,1) 0%, rgba(143,0,179,1) 50%, rgba(151,40,178,1) 100%);
      @media only screen and (min-width:1201px){
          display: none;
      }

    .mobile-nav-menu-box-items-wrapper{
      position: relative;
      width: 100%;
      height: 100%;
      max-height:600px;
      //display: flex;
      flex-direction:column;
      justify-content: flex-start;
      align-items: center;

      .mobile-nav-menu-box-item{
        //flex: 1;
        width: 100%;
        height: 66px !important;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        font-size: 17px;
        font-weight: bold;
        border-bottom: 2px solid rgb(151,40,178);
        &:hover{
          background:rgb(151,40,178);
        }
      }
    }
    .selectedMenu{
      background: rgb(151,40,178) !important;
      color: #d6d6d6 !important;
      .back-arrow{
        position: relative;
        width: 8px;
        height: 8px;
        transform:rotate(45deg);
        border-left: 2px solid #d6d6d6;
        border-bottom: 2px solid #d6d6d6;
      }
    }
    .menu-hidden{
      display: none;
    }
    .menu-show{
      display:flex;
    }
    .sub-menu-hidden{
      display: none;
    }
    .sub-menu-show{
      display:flex;
    }

  }
  .showMenu{
    width: 100%;
    opacity: 1;
  }
  .hideMenu{
    width: 0;
    opacity: 0;
  }
}

