.banner-connect{
    padding: 30px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: fit-content;
    .connect-txt{
        margin-bottom: 20px;
        color: #d6d6d6;
        font-size: 30px;
        font-style:italic;
        font-family: 'Russo One', sans-serif;
        @media only screen and (max-width:1200px){
            font-size: 25px;
        }
    }
    .connect-wrapper{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        @media only screen and (max-width:1200px){
            flex-direction: column;
        } 
        .connect{
            display: flex;
            justify-content:flex-start;
            align-items:center;
            width: 30%;
            border: 1px solid #444;
            height: 60px;
            background: rgb(124,44,225);
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
            @media only screen and (max-width:1200px){
                width: 360px;
                max-width: 95%;
                margin-top:10px;
            } 
            .connect-icon-wrapper{
                display: flex;
                justify-content:center;
                align-items:center;
                margin: 10px;
                .connect-icon{
                    object-fit: contain;
                    height: 40px;
                }
            }
        }
    }
}