.titles{  
    padding: 30px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: fit-content;
    .titles-txt{
        margin-bottom: 20px;
        color: #d6d6d6;
        font-size: 30px;
        font-style:italic;
        font-family: 'Russo One', sans-serif;
        @media only screen and (max-width:1200px){
            font-size: 25px;
        }
    }
    .titles-wrapper{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        @media only screen and (max-width:1200px){
            flex-direction: column;
        }
        .title-img-wrapper{
            display: flex;
            justify-content:center;
            align-items:center;
            flex: 1;
            padding: 40px;
            .title-img{
                object-fit: contain;
                filter: drop-shadow(15px 15px 2px rgb(143, 0, 179));
                max-height: 80px;
            }
        }
    }
}